* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:  Helvetica, sans-serif;
}

.btn {
    border: 0px solid;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
}

/* Header */
.intestazione {
    width: 100%;
    height: 80px;
    background-color: #0056DE;
}

.intestazione .row {
    margin: auto;
    width: 80%;
    height: 80px;
    max-width: 1080px;
    font-size: 14px;
}

.intestazione .logo {
    float: left;
    margin-top: 20px;
    height: 80px;
    padding-right: 10%;
}

.intestazione .row nav {
    margin-left: 40px;
    display: inline-block;
}

.intestazione .row li {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
    
}

.intestazione .row .menu-item {
    color: #fff;
    text-decoration: none;
}

#login {
    margin-top: 30px;
    float: right;
    margin-right: 0px;
}

/* Header */

/* jumbotron */
.jumbotron {
    margin: auto;
    width: 100%;
    height: 390px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.banner {
    display: block;
    margin: auto;
    width: 45%;
    height: 500px;
}

.jumbotron .banner #title {
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-top: 80px;
}

.jumbotron .banner .text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    line-height: 30px;
}

.jumbotron .banner .btn-container {
    text-align: center;
    margin-top: 30px;
}

 .btn-big {
    border: 0px solid;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 18px;
    margin-right: 20px;
}

.jumbotron .banner .white {
    background-color: #fff;
    color: #000;
}

.jumbotron .banner .black {
    background-color: #000;
    color: #fff;
}

.fas {
    margin-right: 10px;
}
/* jumbotron */

/* Gestione Sezioni */
.section-white {
    width: 100%;
    height: 600px;
    background-color: #fff;
}

.section-gray {
    width: 100%;
    height: 600px;
    background-color: #dedede;
}

.content {
    height: 100%;
    width: 80%;
    margin: auto;
}

/* Gestione sezioni bianche */
.content-img-white {
    display: block;
    float: left;
    height: 420px;
    margin-top: 50px;
}

.content .content-title-white {
    display: block;
    width: 25%;
    float: right;
    font-size: 25px;
    line-height: 55px;
    margin-right: 60px;
    margin-top: 135px;
}

.content .content-text-white {
    display: block;
    width: 25%;
    float: right;
    line-height: 25px;
    margin-right: 60px;
    margin-top: 15px;
}
/* Gestione sezioni bianche */

/* Gestione sezioni grigie */
.content-img-gray {
    display: block;
    float: right;
    height: 420px;
    margin-top: 50px;
}

.content .content-title-gray {
    display: block;
    width: 25%;
    float: left;
    font-size: 25px;
    line-height: 55px;
    margin-left: 60px;
    margin-top: 135px;
}

.content .content-text-gray {
    display: block;
    width: 25%;
    float: left;
    line-height: 25px;
    margin-left: 60px;
    margin-top: 15px;
}
/* Gestione sezioni grigie */

/* Gestione sezione finale */
.last-section {
    width: 100%;
    height: 1000px;
    background-color: #dedede;
}

.last-section .last-row {
    display: block;
    margin: auto;
    width: 60%;
    height: 1000px;
}

.last-row #last-title {
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
}

.last-row .last-text-1{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    line-height: 25px;
}

.last-row .last-img {
    display: block;
    position: absolute;
    left: 240px;
}

.last-row .img-2 {
    text-align: center;
    vertical-align: middle;
    margin-top: 560px;
}

h2 {
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
    margin-top: -20px;
}

 .btn-big-2 {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 40%;
    background-color: #b8a8cd;
    color: #fff;
    border: 0px solid;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 18px;
}


/* Gestione sezione finale */

/* Gestione sezioni */